<launch>
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
		<arg name="vehicle" value="typhoon_h480"/>
		<arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/empty.world"/>
		<arg name="est" value="ekf2"/>
		<!-- <arg name="rcS" value="$(find hallway_navigator)/launch/solo_cartographer"/> -->
	</include>

	<!--<node name="teraranger_altitude_broadcast" pkg="hallway_navigator" type="range_to_altitude_broadcaster" output="screen" />-->

	<!--<node name="teraranger_transform" pkg="topic_tools" type="transform" args="/teraranger_sim /terarangerone sensor_msgs/Range 'm.header, 1, m.angle_max-m.angle_min, m.range_min, m.range_max, m.ranges[0]'" />-->

	<!--<node name="base_to_teraranger" pkg="tf2_ros" type="static_transform_publisher" args="0.05 0.05 -0.1 0 0 0 base_link base_range" />-->
</launch>
