<launch>
    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
          <arg name="vehicle" value="typhoon_h480"/>   
         <!-- <arg name="vehicle" value="uav_challenge"/>  -->
        <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/uav_challenge.world"/>
        <arg name="est" value="ekf2"/>
        <!-- <arg name="rcS" value="$(find landing_module)/launch/uav_challenge"/> -->
         <arg name="rcS" value="$(find landing_module)/launch/typhoon_h480"/> 
    </include>

     <node pkg="landing_module" name="landing_module_node" type="landing_module_node" output="screen">
        <remap from="landing_module_node/image" to="/cgo3_camera/image_raw"/>
        <remap from="landing_module_node/pose" to="/mavros/local_position/pose"/>
        <param name="h_fov" type="double" value="90"/>
        <param name="search_altitude" type="double" value="50"/>
    </node> 

    <!--<node name="teraranger_altitude_broadcast" pkg="hallway_navigator" type="range_to_altitude_broadcaster" output="screen" />-->

    <!--<node name="teraranger_transform" pkg="topic_tools" type="transform" args="/teraranger_sim /terarangerone sensor_msgs/Range 'm.header, 1, m.angle_max-m.angle_min, m.range_min, m.range_max, m.ranges[0]'" />-->

    <!--<node name="base_to_teraranger" pkg="tf2_ros" type="static_transform_publisher" args="0.05 0.05 -0.1 0 0 0 base_link base_range" />-->
</launch>
